// out: ../css/responsive.css, sourcemap: true, compress: true
//compress (bool): compress CSS file

@media screen and (max-width: 1199px) {
  .navbar-header {
    float: none !important;
    display: block !important;
    margin: 0 auto !important;
  }
  .navigation .logo {
    margin: 0 auto;
    display: block;
  }
}

@media screen and (max-width: 991px) {

  .about-us img {
      width: 80% !important;
      margin: 0 auto;
      display: block;
  }

  .about-us{
    height: auto !important;
  }
  .container-blocks{
    float: left !important;
  }

  .bg-block .management-block .persons-container img {
        width: 15% !important;
        padding-top: 20px;
    }

    .bg-block .management-block .persons-container {
        height: auto;
        text-align: center;
    }

  .modal .modal-content .modal-article .button-section button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-top: 20px;
  }

  .doing {
    padding: 10px !important;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

  .about-us img {
      width: 100% !important;
  }

  .carousel-caption {
    width: 90%;
    margin-left: -38px;
  }
  .news-block {
      padding: 20px !important;
  }

  .about-us{
    padding: 15px !important;
  }

  .membership{
    padding: 15px !important;
  }

  .assistants{
      display: none;
  }

  .container-blocks {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
  }

  body header .navigation {
    padding: 5px !important;
  }

  .login{
    margin: 0 !important;
  }

  .modal .modal-content{
    width: 90% !important;
  }

  .nav-opening-title{
    height: 480px !important;
    h1{
      font-size: 18px !important;
    }
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-toggle:hover{
    background: #fff;
  }

  .about-us{
    padding-bottom: 25px !important;
  }
  h1{
    margin-top: 10px !important;
  }

  body .partners {
    height: auto;

    img:hover{
      border: none !important;
    }
  }

}
