// out: ../css/style.css, sourcemap: true, compress: true
//compress (bool): compress CSS file

@grey: #f0f0f0;
@white: #fff;
@black: #000;
@blue: #06578c;
@light-blue: #6cbaff;
@light-grey: #f3f3f3;
@bordo: #be3343;
@dark-bordo: #a90329;
@dark: #0f0e0e;
@orange: #f17d00;
@dark-orange: #e3440c;
@dark-grey: #484848;
@green: #5fa25d;

body {
    background: @grey;
    margin: 0;
    padding: 0;

    .slider {
        background-size: cover;
        border-top: 5px solid @bordo !important;
    }

    #navbar {
        overflow: hidden;
    }

    .header {
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 1000;
        background: @blue;
        border-bottom: 2px solid @white;

        .navbar-default, .navbar {
            border: 0px;
            margin-bottom: 0px;
        }

        .login {
          background: -moz-linear-gradient(top, rgba(16,107,171,0.96) 0%, rgba(3,137,211,0.96) 100%);
          background: -webkit-linear-gradient(top, rgba(16,107,171,0.96) 0%,rgba(3,137,211,0.96) 100%);
          background: linear-gradient(to bottom, rgba(16,107,171,0.96) 0%,rgba(3,137,211,0.96) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5106bab', endColorstr='#f50389d3',GradientType=0 );
            border: 1px solid @white !important;
            margin-left: 15px;
        }

        .login:hover {
            background: #0a9477 !important;
        }
    }

    .content{
      padding-top: 90px;
          box-shadow: 0 5px 63px 0 rgba(0,0,0,0.6);
    }

    header {
        width: 100%;
        background: @light-blue;
        padding: 10px;

        .navigation {
            padding: 5px 40px 5px 10px;
            background: transparent;

            .logo {
              width: 190px;
            }

            #myNavbar {
                a {
                    color: @white;
                    font-weight: 700;
                    transition: 0.4s;
                    font-size: 12px;
                    border: 2px solid transparent;
                }

                a:hover {
                    color: @white;
                    transition: 0.4s;
                    background: -moz-linear-gradient(top, rgba(16,107,171,0.96) 0%, rgba(3,137,211,0.96) 100%);
                    background: -webkit-linear-gradient(top, rgba(16,107,171,0.96) 0%,rgba(3,137,211,0.96) 100%);
                    background: linear-gradient(to bottom, rgba(16,107,171,0.96) 0%,rgba(3,137,211,0.96) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5106bab', endColorstr='#f50389d3',GradientType=0 );
                    border: 2px solid @white;
                }

                a:active {
                    color: @light-grey;
                    transition: 0.4s;
                    background: @blue;
                    border: 2px solid @white;
                }
            }
        }
    }
    .doing{
      padding: 50px;
      border-bottom: 1px solid grey;
      background: url(../img/background3.jpg);
      background-position: top;
      background-size: cover;
      background-attachment: fixed;
      font-weight: 500;
      font-size: 16px;
      word-wrap: break-word;

      h1 {
          display: block;
          text-align: center;
          font-weight: bold;
          color: @blue;
      }

      hr {
          width: 100px;
          height: 3px;
          background: grey;
          border: none;
          animation-delay: 0.3s !important;
          margin-bottom: 50px;
      }

      ol{
        list-style: none;
        li{
          padding: 5px;
        }

        li:before{
            font-family: 'Material Icons';
              font-weight: bold;
              font-style: normal;
              font-size: 24px;
              display: inline-block;
              width: 1em;
              height: 1em;
              line-height: 1;
              text-transform: none;
              letter-spacing: normal;
              word-wrap: normal;
              white-space: nowrap;
              direction: ltr;
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -moz-osx-font-smoothing: grayscale;
              font-feature-settings: 'liga';
              color: #43CC9E;
              content: "\e876";
              position: absolute;
              left: 10px;

        }
      }

    }

    .about-us{
      padding: 100px 50px;
      word-wrap: break-word;
      height: auto;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02a882+0,e5e5e5+100 */
      background: rgb(2,168,130); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(2,168,130,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(2,168,130,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(2,168,130,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a882', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
          border-bottom: 2px solid #fff;
      //background: url(../img/pattern.jpg);
      //background-size: cover;
    border-bottom: 3px solid #fff;

    img{
      animation-delay: 2s;
      animation: pulse2 5s infinite;
      width: 80%;
      display: block;
      margin: 0 auto;
    }

    h1{
      display: block;
      text-align: center;
      font-weight: bold;
      color: @white;
      text-shadow: 2px 2px #5e5e5e;
    }

    span{
      color: @white;
      font-size: 18px;
      display: block;
      padding-bottom: 15px;
    }

    ol{
      color: @white;
    }

    strong{
      font-size: 18px;
      color: @white;
    }

    hr{
      width: 100px;
      height: 3px;
      background: @white;
      border: none;
      animation-delay: 0.3s !important;
      margin-bottom: 50px;
    }

      }

    .news-block {
        margin: 0 auto;
        color: @blue;
        font-weight: 700;
        padding:100px 50px;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        background: url(../img/background2.jpg);
        background-size: cover;
        background-position: center center;


        h1 {
            display: block;
            text-align: center;
            font-weight: bold;
        }

        hr {
            width: 100px;
            height: 3px;
            background: grey;
            border: none;
            animation-delay: 0.3s !important;
            margin-bottom: 50px;
        }

        .container-blocks:hover {
            -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
            transition: 0.4s;
           transform: scale(1.02);
        }

        .container-blocks {
            background: @white;
            width: 30%;
            padding: 20px;
            margin-left: 10px;
            margin-right: 10px;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            transition: 0.4s;
            margin-bottom: 50px;

            .title-block {
                font-weight: 700;
                word-break: break-word;
                height: 60px;
                overflow: hidden;

                h4 {
                    font-weight: inherit;
                }
            }

            .img-block {
                width: 100%;
                height: 171px;
                max-width: 311px;
                max-height: 171px;
                margin: 0 auto;
            }

            .img-bg-1 {
                background: url('../img/inprogress.jpg');
                background-position: center;
                background-size: cover;
            }

            .img-bg-2 {
                background: url('../img/inprogress.jpg');
                background-position: center;
                background-size: cover;
            }

            .img-bg-3 {
                background: url('../img/inprogress.jpg');
                background-position: center;
                background-size: cover;
            }

            hr {
                margin-bottom: 5px;
                height: 2px;
            }

            .lead-block {
                padding: 15px;
                word-break: break-word;
                color: @black;
                font-weight: 400;
                height: 169px;
                overflow: hidden;
                margin-bottom: 20px;

            }

            span {
              margin-top: 15px;
                padding: 10px;
                width: 60%;
                text-align: center;
                background: red;
                color: @white;
                background: #06578c;
                display: block;
                margin: 0 auto;
                transition: 0.4s;
            }

            span:hover {
                background: #0a9477;
                transition: 0.4s;
            }

            a {
                text-decoration: none;
            }
        }
    }

    .membership{
      padding: 100px 50px;
      border-bottom: 1px solid grey;
      border-top: 3px solid @white;
      background: url(../img/doctors.jpg);
      background-position: top;
      background-size: cover;
      background-attachment: fixed;
      font-weight: 500;
      font-size: 16px;
      word-wrap: break-word;

      ol{
        margin: 20px 0 20px;
        font-weight: 700;
      }

      h1 {
          display: block;
          text-align: center;
          font-weight: bold;
          color: @blue;
      }

      hr {
          width: 100px;
          height: 3px;
          background: grey;
          border: none;
          animation-delay: 0.3s !important;
          margin-bottom: 50px;
      }

      span{
        display: block;
      }
    }

    #map {
        width: 100%;
        height: 399px;
    }

    footer {
        display: flex;
        padding: 20px 0 20px;
        align-items: center;
        background: @dark;

        h3 {
            color: @white;
            border-bottom: 1px solid #f0f0f0;
            padding: 10px;
        }

        span {
            display: block;
            color: @white;
            padding: 10px;
        }

        a {
            display: inline-block;
            text-decoration: none;
            transition: 0.4s;
        }

        a:hover {
          transition: 0.4s;
          color: @white;
        }

        a:hover {
            color: @white;
        }

        img {
            width: 125px;
        }
    }
}


.add-btn{
  display: block;
  padding: 10px 20px;
  background: #ff5c23;
  border: 0;
  color: @white;
  cursor: pointer;
  transition: 0.2s;
}
.add-btn:hover{
  background: #4fa3fc;
  transition: 0.2s;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    animation-name: animacio_speed;
    animation-duration: 0.3s;

    .modal-content {
        background: #f4f4f4;
        margin: 100px auto;
        width: 40%;
        border: none;

        .modal-head {
            width: 100%;
            height: auto;
            position: relative;
            padding: 20px;
            background: -moz-linear-gradient(top, rgba(16,107,171,0.96) 0, rgba(3,137,211,0.96) 100%);
            background: -webkit-linear-gradient(top, rgba(16,107,171,0.96) 0, rgba(3,137,211,0.96) 100%);
            background: linear-gradient(to bottom, rgba(16,107,171,0.96) 0, rgba(3,137,211,0.96) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5106bab', endColorstr='#f50389d3', GradientType=0);
            display: flex;
            justify-content: space-between;

            span {
                color: @white;
                font-size: 18px;
                font-family: 'Julius Sans One',sans-serif;
                font-weight: 700;
            }

            .closeBtn {
                position: absolute;
                color: @white;
                right: 10px;
                top: 2px;
                font-size: 30px;
                transition: 0.4s;
            }

            .closeBtn:hover, .closeBtn:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
                transition: 0.4s;
            }
        }

        .registration-block {
            background: url('../img/folyoirat.png');
            width: 100%;
            background-position: center center;
            background-size: cover;
            display: block;
            padding: 25px 0 25px;

            span {
                display: block;
                text-align: center;
                color: @white;
                padding-bottom: 15px;
            }

            a {
                text-decoration: none;

                p {
                    color: #fff;
                    padding: 10px;
                    background: @orange;
                    width: 125px;
                    margin: 0 auto;
                    text-align: center;
                    transition: 0.4s;
                    border: 1px solid transparent;
                }

                p:hover {
                    background: @dark-orange;
                    transition: 0.4s;
                    border: 1px solid #fff;
                }
            }
        }

        .modal-article {
            width: 100%;
            padding: 25px 20px;
            word-break: break-all;
            margin: 0 auto;
            background: @grey;

            .user-input {
                width: 100%;
                display: flex;
                margin-bottom: 20px;
            }

            .user-password {
                width: 100%;
                display: flex;
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                text-align: center;
                width: 336px;
                height: 42px;
                margin: 0 auto;
            }

            .button-section {
                display: flex;
                justify-content: center;

                button {
                    width: 150px;
                }

                .btn-login {
                    background: @green !important;
                }

                .btn-login:hover {
                    background: #5bb659 !important;
                }

                .btn-cancel {
                    background: @bordo !important;
                }

                .btn-cancel:hover {
                    background: #d24252 !important;
                }
            }
        }
    }
}

.carousel-caption{
  width: 45%;
  word-break: break-word;
  margin-top: 325px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 263px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);

  h1{
    text-shadow: 2px 2px #5e5e5e;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
  }

  h3{
    text-shadow: 2px 2px #5e5e5e;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
  }

}

.carousel-inner .item{
    text-align: left;
    height: 700px;
}
.control-buttons{
	text-align:center;
}
.transition-timer-carousel-progress-bar {
    height: 2px;
    background-color: @bordo;
    width: 0;
    margin: 0 0 0 0;
    border: none;
    z-index: 11;
    position: relative;
      text-align: left !important;
}
.carousel-control{
	z-index: 11;
}

.slider1{
  background: url('../img/doctor.jpg');
  background-size: cover;
  background-position: top center;
  h1, h3{
    font-weight: 700;
    text-align: left !important;
    width: fit-content;

  }
}
.slider2{
  background: url('../img/doctor2.jpeg');
  background-size: cover;
  background-position: bottom center;
  h1, h3{
    font-weight: 700;
    text-align: left !important;
    width: fit-content;
  }
}
.slider3{
  background: url('../img/doctor.jpg');
  background-size: cover;
  background-position: top center;
  h1, h3{
    font-weight: 700;
    text-align: left !important;
    width: fit-content;
  }
}

/*  Keyfreams  */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes scrollAnimate {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollAnimate {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animacio_speed {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}



@-webkit-keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse2 {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.billing{
  margin-top: 50px;
  padding: 20px;
  word-wrap: break-word;
  h1{
    text-align: center;
  }

  ol{
    margin: 20px 0 20px;
    font-weight: 700;
    font-size: 16px;
  }
  span{
    padding: 20px 0 20px;
  }

  hr{
    width: 100px;
    height: 3px;
    background: grey;
    border: none;
    animation-delay: 0.3s !important;
    margin-bottom: 50px;
  }
}

.inprogress{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  span{
    padding: 20px 0 20px;
    font-size: 25px;
  }
}
.bg-block2 {
    background: url(../img/background2.jpg) repeat center;
    animation-delay: 0.8s;
    background-position: center;
    background-size: cover;
    border-bottom: 4px solid @white;
}

.bg-block {
    background: url(../img/background2.jpg) repeat center;
    background-position: center;
    background-size: cover;
    animation-delay: 0.8s;
    border-bottom: 4px solid @white;

    .document-bock {
        background: @white;
        height: auto;
        padding: 20px;
        margin: 40px 0 40px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        border-bottom: 2px solid gainsboro;
}
        .container-blocks {
            background: transparent;
            width: 100%;
            padding: 20px;
        }
    }


.document-block {

    .assistants {
        float: right;
    }

    h3 {
        display: block;
        font-weight: bold;
        color: @bordo;
        text-align: center;
    }

    .management-block {
        h1 {
            display: block;
            font-weight: bold;
            color: @blue;
        }

        span {
        }

        hr {
            width: 100px;
            height: 3px;
            background: #be3343;
            border: none;
            animation-delay: 0.3s !important;
            margin-bottom: 50px;
        }

        a {
            display: block;
            text-decoration: none;
            color: @bordo;
        }
    }

    .container-blocks:hover {
        -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
    }

    .container-blocks {
        width: 30%;
        padding: 20px;
        background: @white;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        margin-bottom: 50px;

        .title {
            background: @bordo;
            height: 50px;
        }

        img {
            margin: 0 auto;
            display: block;
        }

        a {
            color: @bordo;
            font-size: 15px;
            font-weight: 700;

            span {
                text-align: center;
                display: block;
                padding-bottom: 15px;
            }
        }

        p {
            text-align: center;
            display: block;
            line-height: 5px;
            padding-top: 5px;
        }
    }
}

.management-block {
    background: @white;
    height: auto;
    padding: 20px;
    margin: 40px 0 40px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    .bg-color {
        background: #f4f4f4;
    }

    h1 {
        display: block;
        font-weight: bold;
        color: @blue;
    }

    .persons-container {
        height: 180px;
        border: 1px solid #cecece;
        margin-bottom: 10px;
        border-radius: 5px;

        h3 {
            display: block;
            font-weight: bold;
            color: @blue;
        }

        span {
            display: block;
            font-weight: bold;
            font-size: 18px;
        }

        img {
            width: 100%;
            padding-top: 20px;
        }
    }

    .calendar {
        background: #0a9477;
        padding: 10px;
        margin-bottom: 20px;

        h3 {
            color: @white;
            margin: 0;
        }
    }

    .img-section {
        img {
            width: 100%;
            display: block;
        }
    }

    .credit-account-number {
        h3 {
            color: @blue;
            font-weight: 700;
        }

        span {
            display: block;
            padding-bottom: 15px;
        }
    }
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #06578c;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 15;

    i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}


#return-to-top:hover {
    background: #044875;

    i {
        color: #fff;
        top: 8px;
    }
}

.carousel-indicators{
  li{
        background: #fff;
        border: 2px solid #006c55;
        padding: 5px;
        margin: 0 5px;
  }
  .active{
        background-color: #0a9477;
        padding: 6px;
  }
}

.news{
    padding: 50px 0 50px;
    background: url('../img/background.jpg');
    border-bottom: #06578c;

    .text{
      ol{
        margin: 20px 0 20px;
        font-weight: 700;
        width: fit-content;
      }

    }
}

#content-news-page {
    .page-title {
      padding-top: 50px;
        display: block;
        font-weight: bold;
        color: @blue;
        text-decoration: underline;
    }

    h1 {
        display: block;
        font-weight: bold;
        color: @blue;
        font-size: 30px;
        padding: 15px 0 15px;
        margin: 0;
    }

    .publication-data {
        color: grey;
        font-size: 15px;
        font-style: italic;
    }
}

.image {
    img {
        width: 171px;
        height: 95px;
        float: left;
        margin: 0 20px 18px 0px !important;
        border: 2px solid #8dcec0 ;
    }
}

ul{
    list-style: none;
}

.history-back {
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px;


        span {
            color: #000;
            display: inline-block;
            padding: 19px 1px 7px 2px;
            font-size: 17px;
            transition: 0.4s;
        }
    }

    a:hover {
        border-bottom: 2px solid @blue;
        transition: 0.4s;
    }
}

.container-blocks {
    background: #fff;
    width: 100%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    transition: 0.4s;
    margin-bottom: 50px;

    .title {
        font-size: 15px;
        display: block;

        a {
            color: #be3343;
            display: block;
            text-decoration: none;
        }
    }

    .image img {
        width: 100%;
        float: left;
        margin: 0 20px 18px 0px !important;
        border: 2px solid darkkhaki;
    }
}

.container-blocks:hover {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
